<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<!--<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<!--<link rel="import" href="../bower_components/google-map/google-map-search.html">
<!--<link rel="import" href="../bower_components/paper-input/paper-input.html">-->

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map {
        height: 600px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>

                    <!-- input que hace data-binding con google-map-search -->
    <!--          <paper-input
                   label="search a place!"
                   type="search"
                   value="{{search::input}}"
                   placeholder="search place"
                   results="5">
              </paper-input>

              <!-- google map search, data binding con paper-input -->
    <!--          <google-map-search map="{{map}}" query="{{search}}" results="{{results}}">
              </google-map-search>

              <!-- google map elemento -->
    <!--          <google-map on-google-map-ready="ready" map="{{map}}" latitude="{{latitude}}" longitude="{{longitude}}">

                  <!-- repeat para sacar los markers de la query -->
    <!--              <template is="dom-repeat" items="{{results}}" as="marker">

                      <!-- por cada iteración pintamos su marker -->
    <!--                  <google-map-marker latitude="{{marker.latitude}}"
                                         click-events="true"
                                         longitude="{{marker.longitude}}"
                                         on-google-map-marker-open="openInfoWindow"
                                         on-google-map-marker-click="clickMarker">
                          <h2>{{ marker.name }}</h2>
                          <p>{{ marker.formatted_address }}</p>
                          <p>Latitude: {{ marker.latitude }}</p>
                          <p>longitude: {{ marker.longitude }}</p>
                      </google-map-marker>
                  </template>

              </google-map>


<!--      <script>
              Polymer({
              is: 'my-view2',
              properties: {
                  latitude: {
                      type: Number,
                      value: 41.390205
                  },
                  longitude: {
                      type: Number,
                      value: 2.154007
                  }
              },
              //ejecutado al inicializarse el mapa
              ready: function()
              {

              },
              //ejecutado al pulsar en un marker
              clickMarker: function(e)
              {
                  console.log(e.model.marker)
              },
              //ejecutado al momento de abrirse el infowindow
              openInfoWindow: function(e)
              {

              }
          });
      </script>

<!--<google-map latitude="37.779"
longitude="-122.3892"
api-key="AIzaSyA-hGH02axIrjh-kNCo_KfzAHmJ_m1WA-Q"
zoom="13"
disable-default-ui>
</google-map>-->

    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
